* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  

  /* Header */
  header {
    width: 100%;
    height: 90px;
    max-height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;


    .cabecalho {
      display: flex;
      width: 100%;
      max-width: 1300px;
      padding: 0 20px;
      align-items: center;
      justify-content: space-between;
      background-color: transparent;
  
      .logo {
        height: 150px;
      }
  
      .Area_link {
        width: auto;
        display: flex;
        gap: 30px;
  
  
        .pintar {
          background-color: black;
        }
  
        a{
          text-decoration: none;
          color: rgb(255, 255, 255);
          padding: 5px 15px;
          border-radius: 5px;
          font-weight: bolder;
          transition: all 0.9s;
          font-size: 15px;
          background-color: #F0743E;

  
  
        }
  
        .link:hover {
          background: #b64819;
        }
  
  
      }
    }
  }
  