.page_ongs{
    width: 100%;
    background-color: aqua;
    display: flex;
    justify-content: center;

    .central_ongs{
        width: 100%;
        height: auto;
        max-width: 1400px;
        display: flex;
        flex-direction: column;
        background-color: aliceblue;

        .btn{
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            padding: 10px 0;

            .pesquisa{
                display: flex;
                width: 80%;
                align-items: center;
                border: 2px solid black;
                border-radius: 20px;
                padding: 0px 10px;
                background-color: white;

                input{
                    width: 99%;
                    height: 35px;
                    border: none;
                    outline: none;
                    border-radius: 20px;
                }

                hr{
                    display: flex;
                    align-items: center;
                    padding: 14px 1px;
                    border-radius: 20px;
                    margin: 0 5px;
                    background-color: black;
                }

                .btn_pesquisa{
                    color: rgba(90, 90, 90, 0.897);
                    padding: 5px 10px;
                    border: 1px solid transparent;
                    border-radius: 20px;

                    
                    transition: none;
                    
                    
                }
            }

            .cadastrar_ong{
                padding: 5px;
                border-radius: 20px;
                color:white;
                font-weight: 800;
                background-color: #007aff;
                border-color:transparent;
                transition: all 0.5s;

                
            &:hover{
                transform: scale(1.1);

            }
          
            }



        }


    }
}