.Card {
  padding: 10px 0;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(to top, #5aa6d8, #ffffff);

  h1 {
    margin-top: 90px;
    margin-bottom: 50px;
  }
}
