.Card {
    padding: 10px 0;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(to top, #5AA6D8,#ffffff);


}