.conteiner-card {
        display: flex;
        width: 1000px;
        max-width: 1400px;
        background-color: rgb(75, 147, 255);
        height: 300px;
        padding: 20px;
        border-radius: 0px 20px 0px 20px;
        margin: 40px 0;
        box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.285);
        justify-content: center;
                 

        


        .desc {
            display: flex;
            grid-template-columns: repeat(1,100px);
            padding: 20px;
            width: 90%;
            height: auto;
            line-height: 0.6cm;
           
            
          


             img {
            width: 240px;
            border-radius: 20px;
            height: 240px;
            opacity: 0%;
            object-fit: cover;
         
        }

        
        
           
         
            

             
                 p {
                   
                    opacity: 0%;
                    width: 90%;

                  }
        
                  h3{
                    font-size: 40px;
                    margin-left: 40px;
                    opacity: 100%;
                    margin-left: 70px;
                    display: flex;
                    align-items: center;
                    width: 30%;
                    height: auto;
                    text-align: center;
                    font-family:  sans-serif;
                    
                  }
     
        }


       


        
    }


    
          .conteiner-card:hover{
            box-shadow: 0px 10px 20px 0px black;
            transition: all 1.5s;
            background-color: rgb(255, 255, 255);
          .img{
                opacity: 100%;
              }
             h3{
                display: none;
                }
                p{
                    opacity: 100%;
                    font-size: 25px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-left: 60px;
                    
                }
        

        
   
       
        
    }