.conteiner-card {
        display: flex;
        width: 1000px;
        max-width: 1400px;
        background-color: rgb(75, 147, 255);
        height: 300px;
        padding: 20px;
        border-radius:20px;
        margin: 40px 0;
        box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.285);
        justify-content: center;
        
                 

        
img{
  border-radius: 100%;
}

        .desc {
            display: flex;
            grid-template-columns: repeat(1,100px);
            padding: 20px;
            width: 90%;
            height: auto;
            line-height: 0.6cm;
            flex-direction: column;
            background-color: black;
            align-items: center;
            justify-content: center;
            color: white;
            margin: 10px;
           
           
            
          


        
        
           
         
            

             
                 
        
                  h3{
                    font-size: 50px;
                    margin-left: 40px;
                    opacity: 100%;
                    margin-left: 70px;
                    display: flex;
                    align-items: center;
                    width: 90%;
                    height: auto;
                    text-align: center;
                    font-family:  sans-serif;
                    margin-bottom: 30px;
                    
                  }
     
        }


       


        
    }


        
   
       
        
    