.conteiner-card {
        display: flex;
        width: 1000px;
        max-width: 1400px;
        background-color: rgb(255, 255, 255);
        height: 300px;
        padding: 20px;
        border-radius:20px;
        margin: 40px 0;
        box-shadow: 10px 10px 15px 10px rgba(0, 0, 0, 0.285);
        justify-content: center;
        
                 
  
.fotos{
  border-radius: 50%;
  object-fit: cover;
  height: 250px;
  width: 250px;
}
      

        .desc {
            display: flex;
            grid-template-columns: repeat(1,100px);
            padding: 20px;
            width: 90%;
            height: auto;
            line-height: 0.6cm;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 10px;
            
           
           

            .links{
              display: flex;
              width: 89%;
              height: 100px;
              margin-left: 10px;

            }
            
          


        
        
           
         
            

             
                 
        
                  h3{
                    font-size: 50px;
                    margin-left: 40px;
                    opacity: 100%;
                    margin-left: 70px;
                    display: flex;
                    align-items: center;
                    width: 90%;
                    height: auto;
                    text-align: center;
                    font-family:  sans-serif;
                    margin-bottom: 30px;
                    text-decoration: underline;
                    margin-top: 30px;
                  }
                  p{
                    font-size: 20px;
                    margin-left: 40px;
                    opacity: 100%;
                    margin-left: 70px;
                    display: flex;
                    align-items: center;
                    width: 90%;
                    height: auto;
                    text-align: center;
                    font-family:  sans-serif;
                    margin-bottom: 30px;
                    margin-top: 30px;
                    
                  }
     
        }


       


        
    }