.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    justify-content: center;
    gap: 30px;

    background-color: white;
    border-radius: 2vh;
    width: 270px;
    height: 360px;
}


@media(max-width: 768px){
    .card{
        width: 18rem;
        height: 350px;
        gap: 10px;
        align-items: center;
        margin: 20px 0;
    }
}