* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: auto;





  .rodape {
    color: rgb(0, 0, 0);
    font-family: system-ui;
    display: flex;
    width: 100%;
    height: 200px;
    max-width: 1400px;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;

    img {
      width: 200px;

    }



    nav {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      margin-right: 100px;
      width: 70%;

      justify-content: space-around;
      padding: 20px 0 0 0;




      h2 {
        color: black;
        font-size: 25px;
      }

      a {
        font-size: 15px;
        display: flex;

      }

    }



  }

  .contatos {
    display: flex;
    flex-direction: column;


    .contatos_imgs {
      position: relative;
      margin-top: 10px;
      width: 100%;
      display: flex;
      gap: 10px;






    }


  }

  a {
    text-decoration: none;
    color: black;
  }

  p {
    width: 100%;
    text-align: center;
    font-size: 15px;
    max-width: 1400PX;
  }

}



@media (max-width: 1024px) {
  footer .rodape {
    margin-top: 50px;
    flex-direction: column;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 90%;
    padding: 0 20px;



    nav {
      flex-direction: column;
      justify-content: center;
      flex-wrap: wrap;
      gap: 20px;
      width: 80%;
      margin: 0 20px;
      border-radius: 10px;
      padding: 20px;


    }
  }

  footer p {
    font-size: 14px;
    display: flex;
    margin-top: 20px;
    justify-content: center;

  }
}