.caixa_blur {
  backdrop-filter: blur(1px);
  background-color: rgba(0, 0, 0, 0.568);
  width: 100%;
  justify-content: center;
  display: flex;
  position: absolute;
  height: 100vh;
  z-index: 100;
  top: 0;

  .central_modal {
    width: 50%;
    height: auto;
    display: flex;
    justify-self: center;
    top: 150px;
    position: fixed;
    flex-direction: column;
    background-color: rgb(223, 237, 255);
    border-radius: 20px;
    padding: 10px;
    transition: all 1s ease-in-out;

    .titulo_modal {
      width: 100%;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #5aa6d8;
      border-radius: 15px;
      color: white;
    }

    .central_cadastro {
      width: 100%;
      height: auto;
      padding: 10px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 30px;

      .conteudo {
        width: 50%;
        height: 270px;
        padding: 5px;
        display: flex;
        flex-direction: row;

        & div {
          display: flex;
          flex-direction: column;
          margin: 10px 0;
          width: 100%;

          label {
            font-size: 16px;
            padding-left: 10px;
          }

          input {
            width: 90%;
            border-radius: 20px;
            padding: 3px 10px;
            border: 2px solid rgba(0, 0, 0, 0.467);
            font-family: Arial, Helvetica, sans-serif;
            transition: all 0.5s ease-in-out;

            &:focus {
              border-color: #007bff97;
              outline: none;
            }
          }
        }
      }

      .conteudo2 {
        width: 50%;
        height: 340px;
        padding: 10px;
        display: flex;
        flex-direction: row;

        & div {
          display: flex;
          flex-direction: column;
          margin: 10px 0;
          width: 100%;

          label {
            font-size: 16px;
            padding-left: 10px;
          }

          input {
            width: 90%;
            border-radius: 20px;
            padding: 3px 10px;
            border: 2px solid rgba(0, 0, 0, 0.467);
            font-family: Arial, Helvetica, sans-serif;
            transition: all 0.5s ease-in-out;

            &:focus {
              border-color: #007bff97;
              outline: none;
            }
          }

          select {
            width: 90%;
            border-radius: 20px;
            padding: 3px 10px;
          }
        }
      }
    }

    .btn {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: flex-end;
      gap: 15px;

      button {
        text-decoration: none;
        padding: 5px 20px;
        border-radius: 20px;
        color: aliceblue;
        background: #3b94f3;
        transition: all 0.3s ease-in-out;
        margin-top: 10px;
        display: flex;
        justify-self: center;
        font-weight: 800;
        border: none;
        font-size: 12px;
        cursor: pointer;

        &:hover {
          transform: scale(1.1);
        }
      }

      .diferente {
        color: rgb(0, 0, 0);
        background-color: rgb(255, 255, 255);
      }
    }
  }
}

@media (max-width: 1160px) {
  .caixa_blur {
    .central_modal {
      width: 60%;
      height: auto;

      .central_cadastro {
        flex-direction: column;

        .conteudo,
        .conteudo2 {
          width: 100%;
          height: auto;

          & input {
            width: 100%;
            height: 30px;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .caixa_blur {
    .central_modal {
      width: 90%;
      height: auto;

      .central_cadastro {
        flex-direction: column;

        .conteudo,
        .conteudo2 {
          width: 100%;
          height: auto;

          & input {
            width: 100%;
            height: 30px;
          }
        }
      }
    }
  }
}
