* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.container-login {
    height: auto;
    width: 100%;
    background-color: #5AA6D8;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 40px;


    .irmas-login {
        display: flex;
        padding: 50px;
        flex-direction: row;
        width: 90%;
        max-width: 1200px;
        background: #ffffff;
        border-radius: 20px;
        height: auto;

        .caixa_form{
             display: flex;
            width: 45%;
            height: 600px;
            flex-direction: column;
            justify-content: center;
            padding: 10px;
            
        
        

        .container-filha1-login {
            display: flex;
            width: 100%;
            height: 600px;
            flex-direction: column;
            justify-content: center;
            padding: 10px;

            h1 {
                color: #5AA6D8;
                margin-bottom: 5px;
                text-align: center;
            }


            P {
                color: black;
                margin-bottom: 5px;
                text-align: center;
            }

          

                .container-input-login {
                    height: auto;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    padding: 10px;
                    margin: 10px;



                    label {
                        padding-left: 10px;
                        font-size: 17px;
                    }

                    input {
                        height: 35px;
                        width: 100%;
                        border-radius: 20px;
                        padding: 0 10px;
                        border: 2px solid rgba(0, 0, 0, 0.467);
                        font-family: Arial, Helvetica, sans-serif;
                        transition: all 0.5s ease-in-out;



                        &:focus {
                            border-color: #007bff97;
                            outline: none;
                        }



                    }


                }
            

                button {
                    text-decoration: none;
                    padding: 10px 40px;
                    border-radius: 20px;
                    color: aliceblue;
                    background: #007aff;
                    transition: all 0.4s ease-in-out;
                    margin-top: 20px;
                    display: flex;      
                    align-self: center;
                    justify-content: center;
                    font-weight: 800;
                    border: none;
                    width: 30%;
                    cursor: pointer;


    
                }

                button:hover{
                    transform: scale(1.1);
                }
            


        }
    }


        .container-filha2-login {
            height: 600px;
            width: 55%;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                  width: 380px;
                height: 500px;
            }



        }





    }

}



@media (max-width: 768px) {
    .container-login {
        flex-direction: column;
        align-items: center;
        padding: 20px;
        padding: 50px 30px;

        .irmas-login {
            flex-direction: column;
            width: 90%;
            padding: 20px;
            height:500px   ;
            align-items: center;

            .caixa_form{
                margin-top: -60px;
                width: 20rem;
                margin-left: -20PX;
                justify-content: center;
                align-items: center;

                H1{
                    font-size: 40px;
                    margin-left: 20PX;
                }
                P{
                    font-size: 14px;
                    margin-left:20PX ;

                }
                
                


            }

            .container-input-login {
                margin: 500px;
                width: 90%;

                label {
                    font-size: 11px;
                }

                input {
                    height: 10px;
                }
            }
            .container-filha1-login {
            width: 100%;
                

            button{
                width: 50%;
                margin-left: 20PX;
            }
                
                

              
            }

            .container-filha2-login {
                width: 100%;
                height: auto;
                margin-top: 20px;
                display: none;
                

            }
        }
    }
}



@media (max-width: 480px) {
    .container-login {
        padding: 20px 5px;

        .irmas-login {
            padding: 10px;

            .container-filha1-login {
                .caixa_form{width: 100%;
                .container-input-login {
                    margin: 5px;

                    label {
                        font-size: 10px;
                    }

                    input {
                        height: 30px;
                    }
                }}
                

                button {
                    width: 50%;
                }
            }
        }
    }
}


