* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.container-mae {
    height: auto;
    width: 100%;
    background-color: #5AA6D8;
    display: flex;
    justify-content: center;
    padding: 40px;


    .irmas {
        display: flex;
        padding: 50px;
        flex-direction: row;
        width: 90%;
        max-width: 1200px;
        background: white;
        border-radius: 20px;




        .container-filha1 {
            height: 600px;
            width: 45%;
            display: flex;
            align-items: center;
            justify-content: center;


            h1 {
                text-align: center;
                padding: 20px;
                color: #5AA6D8;
            }

            p {
                text-align: center;

            }

            .container-input {
                height: 60px;
                width: 100%;
                display: flex;
                flex-direction: column;
                margin: 30px 0 20px;

                label {
                    font-size: 17px;
                    padding-left: 10px;
                }

                input {
                    height: 35px;
                    width: 100%;
                    border-radius: 20px;
                    padding: 0 10px;
                    border: 2px solid rgba(0, 0, 0, 0.467);
                    font-family: Arial, Helvetica, sans-serif;
                    transition: all 0.5s ease-in-out;


                    &:focus {
                        border-color: #007bff97;
                        outline: none;
                    }
                }
            }



            .container-check {
                display: flex;
                width: 100%;
                gap: 10px;
                align-items: center;
                margin-bottom:20px ;


                
                input {
                    height: 20px;
                    width: 20px;

                }
            }

            button {
                text-decoration: none;
                padding: 10px 40px;
                border-radius: 20px;
                color: aliceblue;
                background: #007aff;
                transition: all 0.3s ease-in-out;
                margin-top: 20px;
                display: flex;      
                justify-self: center;
                font-weight: 800;
                border: none;
                cursor: pointer;


                

            }

            button:hover{
                    transform: scale(1.1);
                }

        }

        .container-filha2 {
            height: 600px;
            width: 55%;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 380px;
                height: 500px;
            }



        }


    }

}

@media (max-width: 768px) {
    .container-mae {
        flex-direction: column;
        align-items: center;
        padding: 20px;
        padding:50px 10px;

        .irmas {
            flex-direction: column;
            width: 90%;
            padding: 20px;
            height: auto;

            .container-filha1 {
                width: 100%;
                height: auto;
                padding: 10px;
                

                p{
                    font-size: 14px;

                }

                button {
                    margin-bottom: 20px;
                }

                .container-check{
                    margin-bottom: 10px;
                    font-size: 11PX;
                }
            }

            .container-filha2 {
                width: 100%;
                height: auto;
                margin-top: 20px;
                display: none;
            }
        }
    }
}


@media(max-width: 480px) {
    .container-mae {
        padding: 20px 5px;

        .irmas {
            padding: 10px;

            .container-filha1 {
                button {
                    padding: 10px 20px;
                    font-size: 14px;
                }
            }
        }
    }
}

