.div-mae {
  width: 100%;
  display: flex;
  justify-content: center;
  background: linear-gradient(to top, #5aa6d8, #ffffff);

  .div-card {
    display: flex;
    border-radius: 20px;
    width: 100%;
    background-color: #d2ecfd;
    max-width: 1400px;

    .img{
      width: 100%;
      display: flex;
      justify-content: center;
    img {

      height: 250px;
      border-radius: 20px;
      margin: 20px;
    }}


    .parte-direita {
      background-color: #ffffff;
      border-radius: 10px;
      width: 100%;
      height: auto;
      padding: 30px;
    }

    .titulo {
      font-size: 30px;
      font-weight: 700;
      margin-bottom: 2vh;
      text-align: center;
    }

    .descricao {
      width: 100%;
      flex-wrap: wrap;



    }

    .meio-contato {
      font-size: 20px;
      font-weight: 600;
      margin-top: 3vh;
      line-height: 40px;


      .href {
        font-size: 20px;
      }
    }
  }
}



@media(max-width: 768px) {
  .div-mae {

    .div-card {
      flex-direction: column;

      .img {
        background-color: #ffffff;
        width: 100%;
        display: flex;
        justify-content: center;
        border-radius: 20px 20px 0px 0px;

        img {
          width: 300px;
        }
      }

      .parte-direita {
        border-radius: 0px 0px 20px 20px;
        padding: 20px;


        .titulo {
          font-size: 20px;
          text-align: center;
        }



        .descricao {
          padding: 0px;
          text-align: center;
        }

        .meio-contato {
          text-align: center;
          font-size: 16px;
          line-height: 40px;


          .href {
            font-size: 18px;
          }
        }
      }




    }
  }

}