* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.container_pagPrincipal {
    padding: 10px 0;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: -100px;







    .container_central {
        width: 100%;
        background: linear-gradient(to top, #5AA6D8, #ffffff);
        height: 700px;
        max-width: 1400px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        justify-content: center;


        & div {
            display: flex;
            flex-direction: row;
            gap: 20px;
        }






        .container_infromacao {
            width: 50%;
            height: 400px;
            display: flex;
            flex-direction: column;
            padding: 0px 20px;
            gap: 30px;
            line-height: 30px;
            justify-content: center;
            gap: 100px;

            h1 {
                line-height: 1.5cm;

            }


            .destaque {
                font-weight: bold;
                font-family: "Archivo Black", sans-serif;
                color: #007aff;

            }

            .Botoes_central {
                width: 100%;
                display: flex;
                gap: 50px;
                padding-left: 70px;


                .doar {
                    text-decoration: none;
                    padding: 5px 35px;
                    border-radius: 20px;
                    color: aliceblue;
                    background: #007aff;
                    transition: all 0.3s ease-in-out;
                    font-weight: bolder;
                }

                .login {
                    text-decoration: none;
                    padding: 5px 35px;
                    border-radius: 20px;
                    color: rgb(0, 0, 0);
                    background: white;
                    font-weight: bolder;
                    transition: all 0.3s ease-in-out;


                }



                .doar:hover {
                    background-color: #036bdb;
                    color: white;
                    transform: scale(1.1);

                }


                .login:hover {
                    background-color: #036bdb;
                    color: white;
                    transform: scale(1.1);
                    border: none;

                }



            }
        }
    }


    .container_img {
        width: 50%;
        height: 400px;
        object-fit: cover;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 550px;
            height: auto;
            border-radius: 10px;
        }
    }


}

.secao_sobre {
    padding: 10px 0;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;



    .pag_sobre {
        width: 100%;
        max-width: 1400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        border-radius: 20px;
        box-shadow: 2px 2px 15px 4px rgb(170, 170, 170);
        line-height: 1cm;
        padding: 40px;


        p {
            text-align: left;
        }

        h1 {
            font-size: 2rem;
            color: #1d1d1d;

            strong {
                color: #2a68d8;
            }
        }



        .blocos-info {
            display: flex;
            width: 100%;
            gap: 2rem;
            margin-top: 3rem;
            justify-content: center;


            .bloco {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                width: 30%;
                height: auto;
                background: #fff;
                border-radius: 20px;
                padding: 25px;
                box-shadow: 0 4px 12px rgba(0, 0, 0, 0.267);
                transition: transform 0.3s ease;

                p {
                    text-align: center;
                }


                &:hover {
                    transform: translateY(-6px);
                }

                .icone {
                    color: #2a68d8;
                    font-size: 50px;
                    margin-bottom: 1rem;
                }

                h3 {
                    color: #1d1d1d;
                    font-size: 20px;
                    margin-bottom: 0.5cm;
                }

                ul {
                    list-style: none;
                    padding: 0;

                    li {
                        margin: 6px 0;
                        font-size: 0.95rem;
                    }
                }
            }
        }

    }
}



@media (max-width: 700px) {

    .container_pagPrincipal {
        height: auto;


        .container_central {
            height: auto;
            margin-top: 90px;
            gap: 0;

            & div {
                height: auto;





                .container_infromacao {
                    width: 90%;
                    height: auto;
                    background: transparent;
                    z-index: 2;


                    .Botoes_central {
                        width: 100%;
                        justify-content: center;
                        display: flex;
                        padding: 0;


                        .doar {
                            display: flex;
                            justify-self: flex-start;
                            font-size: 10px;
                            padding: 3px 15px;

                        }

                        .login {
                            display: flex;
                            font-size: 10px;
                            padding: 3px 15px;
                        }






                    }

                }

            }


            .container_img {
                
                width: 100%;

                height: auto;
                z-index: 1;

                img {
                    width: 100%;
                    opacity: 0.3;
                }
            }

        }

    }
}