*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
}


header{
    width: 100%;
    height: 12vh;
    max-height: 15vh;
    background-color: rgb(124, 146, 146);
    display: flex;



    .cabecalho{
        display: flex;
        min-width:1280px ;
        max-width: 1400px;
        max-height: 15vh;
        align-items: center;
        justify-content: space-around;





        .logo{
            height: 110px;
        }
    }




    .Area_link{
        display: flex;
        width: auto;
        background-color: aquamarine;
        gap: 80px;

        .link{
            text-decoration: none;
            padding: 10px 20px;
            border-radius: 5px;

            border:1px solid black;
        }
    }

   
}