* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.container_pagPrincipal {
    padding: 10px 0;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;





    .container_central {
        width: 100%;
        background-color: #ffff;
        height: auto;
        max-width: 1400px;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        padding: 100px 40px;







        .container_infromacao {
            width: 50%;
            height: 400px;
            display: flex;
            flex-direction: column;
            padding: 0px 20px;
            gap: 30px;
            line-height: 30px;
            justify-content: center;
            gap: 100px;

            h1 {
                line-height: 1.5cm;
            }


            .destaque {
                font-weight: bold;
                font-family: "Archivo Black", sans-serif;
                color: #ff3c00cc;

            }

            .Botoes_central {
                width: 100%;
                display: flex;
                gap: 50px;
                padding-left: 70px;


                .doar {
                    text-decoration: none;
                    border: 2px solid white;
                    padding: 5px 35px;
                    border-radius: 20px;
                    color: aliceblue;
                    background: #B899EE;
                    transition: all 0.5s ease-in-out;
                }

                .login {
                    text-decoration: none;
                    border: 2px solid rgb(0, 0, 0);
                    padding: 5px 35px;
                    border-radius: 20px;
                    color: rgb(0, 0, 0);
                    background: transparent;
                    transition: all 0.5s ease-in-out;




                }



                .doar:hover {
                    background-color: #B899EE;
                    color: white;
                    transform: scale(1.1);

                }


                .login:hover {
                    background-color: #B899EE;
                    color: white;
                    transform: scale(1.1);

                }



            }
        }
    }


    .container_img {
        width: 50%;
        height: 400px;
        object-fit: cover;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 550px;
            height: auto;
            border-radius: 10px;
        }
    }


}
