section {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  .carousel-container {
    width: 100%;
    height: 580px;
    margin: 80px auto;
    max-width: 1900px;

    overflow: hidden;
    padding: 40px 200px 0 200px;
    cursor: grab;
    background-color: rgb(150, 202, 248);

    h1 {
      text-align: center;
      margin-bottom: 20px;
      color: #ffffff;
    }

    .swiper {
      display: flex;
      border-radius: 12px;
    }

    .swiper-wrapper {
      display: flex;
    }

    .swiper-slide {
      display: flex;
      justify-content: center;
      padding: 30px;
      width: auto;
      flex: 0 0 auto;
    }

    .slide {
      width: 100%;
      max-width: 320px;
      transition: transform 0.3s ease;
      height: 340px;
      object-fit: contain;
    }

    .swiper-pagination-bullet {
      background: #999;
      opacity: 0.7;
      transition: 0.3s;
    }
  }
}

.carousel-container:active {
  cursor: grabbing;
}

.carousel-container {
  position: relative;

  .swiper-button-next,
  .swiper-button-prev {
    color: #007aff;
    transition: color 0.3s, transform 0.2s;
    top: 50%;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
    padding: 10px;
    transition: all 0.3s ease-in-out;

    &:hover {
      color: #0051a8;
      transform: scale(1.1);
      background: #fff;
    }
  }

  .swiper-button-prev {
    left: 10px;
  }

  .swiper-button-next {
    right: 10px;
  }
}

@media (max-width: 1530px) {
  .carousel-container {
    padding: 40px 100px 0 100px !important;
  }
}

@media (max-width: 1230px) {
  .carousel-container {
    padding: 50px !important;
  }
}

@media (max-width: 940px) {
  .carousel-container {
    padding: 30px !important;
  }
}
