.fundo_user {
    backdrop-filter: blur(1px);
    background-color: rgba(0, 0, 0, 0.568);
    width: 100%;
    justify-content: center;
    display: flex;
    position: fixed;
    height: 100vh;
    z-index: 100;
    top: 0;



    .modal_User {
        width: 50%;
        height: auto;
        display: flex;
        justify-self: center;
        top: 150px;
        position: fixed;
        flex-direction: column;
        background-color: rgb(223, 237, 255);
        border-radius: 20px;
        scroll-snap-stop: always;
        padding: 10px;
        transition: all 1s ease-in-out;





    

            .conteudo {
                width: 100%;
                height: auto;
                padding: 5px;
                display: flex;
                flex-direction: column;

                h1{
                    display: flex;
                    align-items:center ;
                    gap: 10px;
                }
        }

        .area_button {
            width: 100%;
            height: auto;
            display: flex;
            justify-content: flex-end;
            gap: 15px;

            button {
                text-decoration: none;
                padding: 5px 20px;
                border-radius: 20px;
                color: aliceblue;
                background: #3b94f3;
                transition: all 0.3s ease-in-out;
                margin-top: 10px;
                display: flex;
                justify-self: center;
                font-weight: 800;
                border: none;
                font-size: 12px;
                cursor: pointer;



                &:hover {
                    transform: scale(1.1);

                }

            }


            .diferente {
                color: rgb(0, 0, 0);
                background-color: rgb(255, 255, 255);



            }





        }




    }

}

@media (max-width: 768px) {
    .fundo_user {
        .modal_User {
            width: 90%;
            top: 250px;

        }
    }
}