.div-mae {
  width: 100%;
  display: flex;
  justify-content: center;

  background: linear-gradient(to bottom, #5aa6d8, #ffffff);

  .div-card {
    display: flex;
    
    border-radius: 20px;
    margin: 15vh;
    padding: 3vh;
    background-color: #d2ecfd;

    .parte-direita {
      background-color: #ffffff;
      padding: 3vh;
      border-radius: 10px;
    }
    
    .titulo {
      font-size: 30px;
      font-weight: 700;
      margin-bottom: 2vh;
    }

    .descricao {
      width: 90vh;
      padding: 5vh;
    }

    .meio-contato {
      font-size: 24px;
      font-weight: 600;
      margin-top: 3vh;
    }
  }
}
