* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

.Container-Mae {
    height: 900px;
    width: 100%;
    background-color: #5AA6D8;



    .Container-Cards {
        height: 100px;
        width: 99%;
        display: flex;
        justify-content: center;
        padding: 30px;

        .filha1 {
            height: 750px;
            width: 50%;
            background-color: rgb(255, 255, 255);
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 30px;
            align-items: center;
            border-radius: 20px 0px 0px 20px;
            gap: 10px;
            color: rgb(0, 0, 0);
            margin-top: 50px;

            h1 {
                font-size: 40px;
                margin-bottom: 30px;
            }

            .email {
                width: 75%;
                display: flex;
                align-items: end;
                font-size: 20px;
                margin-left: 10px;


            }



            .senha {
                width: 75%;
                display: flex;
                align-items: end;
                font-size: 20px;
                padding: -10px;
                margin-left: 10px;
            }


            input {
                display: flex;
                width: 75%;
                padding: 10px;
                border-radius: 20px;
                font-size: 20PX;

            }

            button {
                height: 50px;
                width: 200px;
                border-radius: 20px;
                margin-top: 50px;
                border: none;
                background-color: rgb(0, 140, 255);
                font-size: 22px;
                font-family: Arial, Helvetica, sans-serif;
                transition: all 0.3s ;
            }
            button:hover{
                background-color: rgb(105, 185, 250);
                transform: scale(0.9s);
                
            }
        }

        .filha2 {
            height: 750px;
            width: 50%;
            background-color: rgb(255, 255, 255);
            border-radius: 0px 20px 20px 0px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 50px;
        }

    }
}

